.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 364px);
  grid-gap: 30px 24px;
  justify-content: center;
  padding: 70px 70px 30px;
  background-color: #fafafa;
}

@media screen and (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(2, minmax(300px, 364px));
    grid-gap: 36px 30px;
    padding: 70px 30px 30px;
  }
}

@media screen and (max-width: 767px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 364px));
    grid-gap: 36px 30px;
    padding: 40px 10px 30px;
  }
}