.navigation {
  width: 100%;
}

.navigation__unauthorized {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation__authorized {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__link {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  color: #000;
  text-decoration: none;
  transition: opacity .3s;
}

.navigation__link:hover {
  opacity: .7;
}

.navigation__link_type_films {
  padding-right: 16px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.38;
}

.navigation__link_type_save-films {
  font-size: 13px;
  line-height: 1.38;
}

.navigation__link_type_singup {
  padding-right: 30px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.navigation__signin-button {
  width: 76px;
  height: 32px;
  padding: 0;
  border: 0;
  background-color: rgba(52, 86, 243, 1);
  border-radius: 3px;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-rendering: optimizeLegibility;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  color: #fff;
  cursor: pointer;
  transition: opacity .3s;
}

.navigation__signin-button:hover {
  opacity: .7;
}

.navigation__link_type_account{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

@media screen and (max-width:768px) {
  .navigation__authorized {
    display: none;
  }
}

@media screen and (max-width:480px) {
  .navigation__link_type_singup {
    padding-right: 26px;
    font-size: 10px;
    line-height: 1.6;
  }
  
  .navigation__signin-button {
    width: 54px;
    height: 26px;
    font-size: 10px;
    line-height: 1.6;
  }
}
