.navigation {
  width: 100%;
}

.navigation__unauthorized {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation__authorized {
  margin-left: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__link {
  padding-right: 16px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 13px;
  line-height: 1.38;
  text-rendering: optimizeLegibility;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  transition: opacity .3s;
}

.navigation__link:hover {
  opacity: .7;
}

.navigation__link_active {
  font-weight: 500;
}

.navigation__link_type_singup {
  padding-right: 30px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
}

.navigation__link_type_signin {
  padding-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 76px;
  height: 32px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  background-color: #3456f3;
  border-radius: 3px;
  color: #fff;
}

@media screen and (max-width:768px) {
  .navigation__authorized {
    display: none;
  }
}

@media screen and (max-width:480px) {
  .navigation__link_type_singup {
    padding-right: 26px;
    font-size: 10px;
    line-height: 1.6;
  }
  
  .navigation__link_type_signin {
    width: 54px;
    height: 26px;
    font-size: 10px;
    line-height: 1.6;
  }
}
