.page__header {
  margin: 0 auto;
}

.header {
  max-width: 1280px;
  width: 100%;
  height: 74px;
  position: sticky;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 38px auto;
  justify-items: end;
  align-items: center;
  padding: 0 70px;
  box-sizing: border-box;
  z-index: 2;
}

.header_type_unauthorized {
  background-color: rgba(221, 222, 227, .85);
}

.header_type_authorized {
  background-color: #fafafa;
  background-color: rgba(250, 250, 250, .85);
}

@media screen and (max-width:1024px) {
  .header {
    padding: 0 30px;
  }
}

@media screen and (max-width:768px) {
  .header_type_authorized {
    grid-template-columns: 38px auto 44px;
  }
}

@media screen and (max-width:480px) {
  .header {
    padding: 0 14px;
  }
}
