.about-project {
  padding: 110px 70px;
}

.about-project__title {
  margin: 0;
  border-bottom: 1px solid #000;
  padding-bottom: 23px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.23;
  text-rendering: optimizeLegibility;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.about-project__info {
  padding: 70px 0 110px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
}

.about-project__item-title {
  margin: 0;
  padding-bottom: 26px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -.04em;
  text-rendering: optimizeLegibility;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.about-project__item-description {
  margin: 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 14px;
  line-height: 1.43;
  text-rendering: optimizeLegibility;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.about-project__stages {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) minmax(184px, 4fr);
  grid-template-rows: 36px auto;
  grid-row-gap: 14px;
}

.about-project__stage-week {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 14px;
  line-height: 1.21;
  text-rendering: optimizeLegibility;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-align: center;
  align-items: center;

}

.about-project__stage-week_backend {
  background-color: #3456f3;
  color: #fff;
}

.about-project__stage-description {
  margin: 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 14px;
  line-height: 1.21;
  text-rendering: optimizeLegibility;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  color: #a0a0a0;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .about-project {
    padding: 90px 50px;
  }
}

@media screen and (max-width: 768px) {
  .about-project__info {
    grid-column-gap: 30px;
  }
  
  .about-project__item-title {
    padding-bottom: 22px;
  }
  
  .about-project__item-description {
    font-size: 12px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 480px) {
  .about-project {
    padding: 70px 18px;
  }
  
  .about-project__title {
    padding-bottom: 28px;
    font-size: 18px;
    line-height: 1.23;
  }
  
  .about-project__info {
    padding: 60px 0;
    grid-template-columns: 1fr;
    grid-row-gap: 56px;
  }
  
  .about-project__item-title {
    padding-bottom: 16px;
    font-size: 18px;
    line-height: 1.22;
  }
  
  .about-project__item-description {
    font-size: 11px;
    line-height: 1.45;
  }
  
  .about-project__stages {
    grid-template-rows: 35px auto;
    grid-row-gap: 10px;
  }
  
  .about-project__stage-week {
    font-size: 11px;
    line-height: 1.18;
  }
  
  .about-project__stage-description {
    font-size: 11px;
    line-height: 1.18;
  }
}