.techs {
  padding: 100px 70px;
}

.techs__title {
  margin: 0;
  border-bottom: 1px solid #000;
  padding-bottom: 23px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.23;
  text-rendering: optimizeLegibility;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.techs__text-title {
  margin: 0;
  padding: 90px 0 26px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -.04em;
  text-rendering: optimizeLegibility;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-align: center;
}

.techs__text-description {
  max-width: 460px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: -.04em;
  text-rendering: optimizeLegibility;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-align: center;
}

.techs__stack {
  margin: 0;
  padding: 100px 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
  grid-auto-rows: 60px;
  grid-gap: 10px;
  justify-content: center;
  list-style-type: none;
}

.techs__stack-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -.04em;
  text-rendering: optimizeLegibility;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  background-color: #e8e8e8;
  border-radius: 10px;
}

@media screen and (max-width: 1024px) {
  .techs {
    padding: 90px 50px;
  }
  
  .techs__stack {
    padding-top: 83px;
    grid-template-columns: repeat(auto-fit, 84px);
    grid-auto-rows: 57px;
  }
}

@media screen and (max-width: 768px) {
  .techs__text-title {
    padding: 80px 0 22px;
  }
  
  .techs__text-description {
    font-size: 12px;
    line-height: 1.5;
  }
  
  .techs__stack-item {
    font-size: 12px;
    line-height: 1.25;
  }
}

@media screen and (max-width: 480px) {
  .techs {
    padding: 70px 18px;
  }
  
  .techs__title {
    padding-bottom: 28px;
    font-size: 18px;
    line-height: 1.23;
  }
  
  .techs__text-title {
    padding: 60px 0 24px;
    font-size: 30px;
    line-height: 1.2;
  }
  
  .techs__text-description {
    font-size: 11px;
    line-height: 1.46;
  }
  
  .techs__stack {
    padding-top: 50px;
  }
}